* 
{
	margin:0;
	padding:0;
	font-family: Verdana, Arial;
	color: #fff;
} 
#obszar
{
	width: 600px;
	height: 600px;
	background-color: rgba(60,20,200,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c3c14c8', endColorstr='#4c3c14c8'); /* IE */
	padding: 5px;
}
#obszarGry
{
	margin: 0 auto;
}
#nav
{
	width: 595px;
	height: 40px;
	background-color: rgba(60,20,200,1);
	padding: 15px 0px 0px 15px;
	text-align: right;
	color: white;
}
#nav p
{
	margin-right: 10px;
}
#nav span
{
	color: #f6931f;
}
.roundB
{
	border:1px solid #d47709; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	text-align: center; 
	color: #FFFFFF; 
	background-color: #F6931F;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6931F), color-stop(100%, #FB9D23));
	background-image: -webkit-linear-gradient(top, #F6931F, #FB9D23);
	background-image: -moz-linear-gradient(top, #F6931F, #FB9D23);
	background-image: -ms-linear-gradient(top, #F6931F, #FB9D23);
	background-image: -o-linear-gradient(top, #F6931F, #FB9D23);
	background-image: linear-gradient(top, #F6931F, #FB9D23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F6931F, endColorstr=#FB9D23);
	font-size: 15px;
	border-radius: 100%;
	padding: 10px 5px 10px 5px;
	float: left;
	margin-left: 5px;
}
.roundB:hover
{
	border:1px solid #a85e07; 
	background-color: #d97909;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d97909), color-stop(100%, #e78404));
	background-image: -webkit-linear-gradient(top, #d97909, #e78404);
	background-image: -moz-linear-gradient(top, #d97909, #e78404);
	background-image: -ms-linear-gradient(top, #d97909, #e78404);
	background-image: -o-linear-gradient(top, #d97909, #e78404);
	background-image: linear-gradient(top, #d97909, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d97909, endColorstr=#e78404);
}
.roundB::-moz-focus-inner 
{
  border: 0;
}
.puzel
{
	width: 100px;
	height: 100px;
	background: url(./image/i_back_t.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 5px;
}
.puzel:hover
{
opacity: 0.7;
}
.ustawienia
{
	width: 600px;
	background-color: rgba(60,20,200,1);
	padding: 5px;
	text-align: center;
	color: #fff;
}
#ustawienia
{
	height: 25px;
}
#ustpanel
{
	height: 75px;
	display: none;
}
.bok
{
	width: 50%; 
}
.bok p, input
{
	margin: 10px;
	font-size: 12px;
	color: #000;
}
.lewy
{
	float: left;
}
.prawy
{
	float: right;
}
#slider
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#amount
{
	border: 0;
	color: #f6931f;
	font-weight: bold;
	background-color: rgba(60,20,200,1);
	width: 20px;
}
#infoBox
{
	width:80%;
	height: 80%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: none;
	background: #f6931f;
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);;
}
#infoBox table
{
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}
#infoBox caption
{
	font-weight: bold;
	padding-top: 10px;
	font-size: 16px;
}
#infoBox caption, th
{
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
#infoBox td, th
{
	width: 100px;
	height: 40px;
	text-align: center;
	margin: 10px;
}